---
import OrganizeTablesButton from "@/components/OrganizeTablesButton";
import TableCreateModal from "@/components/TableCreateModal";
import TablesList from "@/components/TablesList";
import UnassignWaitersButton from "@/components/UnassignWaitersButton";
import LayoutDashboard from "@/layouts/LayoutDashboard.astro";
---

<LayoutDashboard>
  <header class="flex justify-between">
    <div>
      <h1 class="text-2xl font-bold">Gestión de Mesas</h1>
      <p class="text-gray-700 text-sm mt-1 mb-2">
        Administra las mesas del sistema
      </p>
    </div>
    <div class="flex items-center gap-2">
      <UnassignWaitersButton client:load />
      <OrganizeTablesButton client:load />
      <TableCreateModal client:load />
    </div>
  </header>
  <TablesList client:load />
</LayoutDashboard>
