---
import LogoutButton from "@/components/LogoutButton"
import UserIcon from "@/assets/user.svg"
import HomeIcon from "@/assets/home.svg"
import StackIcon from "@/assets/stack.svg"
import CatalogIcon from "@/assets/catalog.svg"
import SettingsIcon from "@/assets/settings.svg"
import UserInfo from "./UserInfo"

const menuItems = [
  { name: "Inicio", href: "/", icon: "home" },
  { name: "Usuarios", href: "/usuarios", icon: "users" },
  { name: "Pedidos", href: "/pedidos", icon: "orders" },
  { name: "Catálogo", href: "/catalogo", icon: "catalog" },
  { name: "Ajustes", href: "/ajustes", icon: "settings" },
]
---

<div
  id="sidebar"
  class="fixed inset-y-0 left-0 z-30 w-64 bg-sidebar-bg transform -translate-x-full transition-transform duration-300 ease-in-out lg:translate-x-0 lg:static lg:inset-0 p-2.5"
>
  <div class="flex flex-col h-full bg-border rounded-3xl px-1.5 py-2.5">
    <UserInfo client:load />
    <hr class="border mx-2 my-3 rounded-2xl" />
    <nav class="flex-1 overflow-y-auto mb-2.5 py-2 flex flex-col gap-2 px-5">
      {
        menuItems.map((item) => (
          <a href={item.href} class="rounded-2xl flex items-center px-2 py-2.5 hover:bg-surface hover:text-primary transition-colors duration-300">
            <span class=" mr-3">
              {item.icon === "home" && <HomeIcon />}
              {item.icon === "users" && <UserIcon />}
              {item.icon === "orders" && <StackIcon />}
              {item.icon === "catalog" && <CatalogIcon />}
              {item.icon === "settings" && <SettingsIcon />}
            </span>
            {item.name}
          </a>
        ))
      }
    </nav>
    <LogoutButton client:load />
  </div>
</div>
