---
import Sidebar from "@/components/Sidebar.astro";
import Layout from "./Layout.astro";
---

<Layout>
  <div slot="dashboard" class="flex h-screen overflow-hidden">
    <Sidebar />
    <div class="py-2.5 pr-2.5 flex-1">
      <main class="bg-white rounded-3xl text-border h-full p-5 overflow-auto">
        <slot />
      </main>
    </div>
  </div>
</Layout>
